<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337761766016-isve63sv65m8qdkoegthqj0m88j6p720.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337761766016-isve63sv65m8qdkoegthqj0m88j6p720</string>
	<key>API_KEY</key>
	<string>AIzaSyD5Zz6jzZAoNsSza5AARzEwUw5cSzKot7E</string>
	<key>GCM_SENDER_ID</key>
	<string>337761766016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wakana.1.61803398875</string>
	<key>PROJECT_ID</key>
	<string>wakana-c6f61</string>
	<key>STORAGE_BUCKET</key>
	<string>wakana-c6f61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337761766016:ios:8281a50082b2cbb8947465</string>
</dict>
</plist>